<h2>Course List</h2>
<div class="form-group row">
    <label for="col-sm-2-from-label">Filter By:</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>ReleaseDate</th>
            <th>Rating</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let Course of filteredCourses ">
            <td><img src="{{Course.imageUrl}}" alt="{{Course.name}}" width='60' heigth='60'></td>
            <td>{{Course.name}}</td>
            <td>{{Course.price}}</td>
            <td>{{Course.code}}</td>
            <td>{{Course.releaseDate}}</td>   
            <td> 
                {{Course.rating}}
                <app-star [rating]="Course.rating"></app-star>
            </td>


            
        </tr>
    </tbody>

</table>