body {
    background-color: #ccc;
}





#title, .subtitle,.post_title {
color: blue
}

.post_title{
    font-size: 16px;
    font-style: italic;
}


.post{
    background-color: #FFF;   
    padding: 10px;
    border: 3px solid #000;
    margin: 1px;
}